body{
  font-family: 'Open Sans Condensed';
  background-image: url("files/image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: welcome 2s linear;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  padding: 0;
  display: block;
  margin: auto;
}
#mainimg{
  box-shadow: 0px 0px 5px #ff65c3, 0px 0px 15px #ff65c3, 0px 0px 20px #ff65c3;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:12px;
  margin-top: 10px;
  opacity: 0.8;
  transition: all 0.4s;
}

iframe:hover{
  box-shadow: 50px 50px 10px;
  opacity: 1;
  transition: all 0.4s;
}

h1,
h3 {
  color: white;
  text-align: center;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  transition: 0.5s all;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  transition: 0.5s all;
}

a:hover {
  color: black;
  outline-width: 10px;
  text-decoration: underline;
  transition: 0.4s all;
}

a:active {
  color: rgb(69, 0, 255);
  background-color: transparent;
  text-decoration: underline;
  transition: 0.2s all;
}

.topnav {
  position: fixed;
  z-index: 999;
  background-color: black;
  overflow: hidden;
  height: 25px;
  width: 100%;
  padding: 10px;
  text-align: right;
  opacity: 70%;
}

.topnav a {
  color: #f2f2f2;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;
}

#title {
  color: white;
  font-size: 20px;
  position: absolute;
  right: 49%;
}

.topnav a:hover {
  text-shadow: 0 0 60px white, 0 0 50px white, 0 0 30px white, 0 0 10px white;
  transition: 0.4s all;
}

@keyframes welcome {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
}

#glow {
  text-shadow: 0 0 50px #fff, 0 0 30px #ffffff, 0 0 15px #ffffff, 0 0 5px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 10px;
  border-radius: 25px;
  transition: 0.2s all;
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

#dc:hover {
  background: #5865F2;
  box-shadow: 0 0px 10px #5865F2, 0 0px 20px #5865F2;
}

#email:hover {
  background: limegreen;
  box-shadow: 0 0px 10px limegreen, 0 0px 20px limegreen;
}

.stuff {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: welcome3 5s;
}
div.gallery {
  border: 8px solid white;
  border-radius: 15px;
  transition: 0.1s all;
  width: 45%;
  max-width: 350px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.3);
  animation-name: nogravity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
}

div.gallery:hover {
  transform: scale(105%);
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.1s all;
}

div.gallery img {
  margin: auto;
  max-height: 300px;
  max-width: 100%;
  margin-top: 90px;
}